# Ignore virtual environment
venv/
.env/

# Ignore macOS specific files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore data files (optional, depending on what data you want in the repo)
data/

# Ignore models (optional, depending on if you want trained models in Git)
models/

# Ignore logs or other large temporary files
*.log
