# Ignore virtual environment
venv/
.env/

# Ignore macOS specific files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore data files (optional, depending on what data you want in the repo)
#data/

# Ignore models folder, but allow the specific model file that you want to commit.
# Use ! to include specific files that should be tracked
#Models/
#!Models/xgb_occupancy_model.pkl 


# Ignore logs in general, but allow specific training log file
#*.log
#!Models/training_log.txt

# Ignore other large temporary files
*.tmp
